@use 'variables' as *;

.chess {
    width: 100%;
    background-color: #E9ECFF;

    &--violet {
        background-color: #808CFD;
    }

    &--reverse {
        .chess__container {
            @media (max-width: 992px) {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    &__container {
        width: 100%;
        min-height: 400px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        max-height: 450px;
        object-fit: cover;

        @media (max-width: 992px) {
            max-height: 100%;
        }
    }

    &__text {
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    &__title {
        color: #000;
        font-size: clamp(28px, 3vw, 45px);
        line-height: clamp(25px, 2.6vw, 41px);
        text-transform: uppercase;
        max-width: 80%;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__subtitle {
        font-size: 22px;
        color: #000;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
    }

    &__description {
        color: #000;
        font-size: clamp(18px, 2vw, 20px);
    }

    &__subtext {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}