<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <a href="index.html" class="footer__logo">
        <img src="@img/footer/logo.svg" alt="Footer logo" draggable="false">
      </a>
      <p class="footer__label">PrimalTraining</p>
    </div>
    <div class="footer__row footer__row--margin">
      <div class="footer__col">
        <p class="footer__info anek-tamil-bold">Contact</p>
        <div class="footer__info-link geist-bold">Email: <a href="mailto:hello@figma.com">hello@figma.com</a></div>
        <div class="footer__info-link geist-bold">Phone: <a href="tel:+380999999999">+380999999999</a></div>
      </div>
      <div class="footer__col">
        <p class="footer__info anek-tamil-bold">Opening Hours</p>
        <div class="footer__grid">
          <p>MON – FRI</p>
          <p>5:00 – 23:00</p>
          <p>SATURDAYS</p>
          <p>8:00 – 16:00</p>
          <p>SUNDAYS</p>
          <p>8:00 – 13:00</p>
          <p>HOLIDAYS</p>
          <p>8:00 – 16:00</p>
        </div>
      </div>
      <div class="footer__col">
        <p class="footer__info anek-tamil-bold">Social</p>
        <a href="#" class="footer__social">Instagram</a>
        <a href="#" class="footer__social">Twitter</a>
        <a href="#" class="footer__social">LinkedIn</a>
        <a href="#" class="footer__social">Spotify</a>
      </div>
    </div>
  </div>
</footer>
<script src="js/functions/lazyImg.js" defer></script>
<!-- Розкоментуйте для проведення аналізу доступності верстки -->
<!-- <script src="js/functions/a11y-checker.js" defer></script> -->
<!-- Розкоментуйте для проведення аналізу доступності верстки -->
<script type="module" src="js/app.js"></script>

<script>
  window.addEventListener('load', () => {
    setTimeout(() => {
      document.querySelector('.wrapper').classList.add('loaded');
    }, 2500);
  });
</script>
</body>

</html>