<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo">
      <img src="@img/header/logo.svg" alt="Header logo" draggable="false">
    </a>
    <nav class="header__nav">
      <a href="/" class="header__link geist-mono">Home</a>
      <a href="about.html" class="header__link geist-mono">About</a>
      <a href="reserve.html" class="button button--violet header__button geist-mono">Reserve your spot</a>
    </nav>
    <div class="header__burger">
      <span></span>
    </div>
  </div>
</header>