<div class="chess chess--violet">
    <div class="chess__container">
        <div class="chess__text">
            <h2 class="chess__title anek-tamali">Tap into Your Primal Power. Forge a Stronger You.</h2>

            <div class="chess__subtext">
                <h3 class="chess__subtitle anek-tamalittu">Our vision</h3>
                <p class="chess__description geist">Primal Training is committed to delivering a training experience rooted in raw
                    strength, functional fitness, and unwavering community support. We empower our members to tap into
                    their primal power, achieve their goals, and live a life of strength, resilience, and unwavering
                    determination.</p>
            </div>
        </div>
        <img src="@img/chess/image1.jpg" alt="Chess image" class="chess__image" draggable="false">

    </div>
</div>