<div class="chess @@if (dark === 'true') {chess--violet} @@if (reverse === 'true') {chess--reverse}">
    <div class="chess__container">
        @@if (reverse === 'true' && image !== '') {
            <img
                src="@img/chess/@@image"
                alt="Chess image"
                class="chess__image"
                draggable="false"
            >
        }
        <div class="chess__text">
            @@if (title !== '') {
                <h2 class="chess__title anek-tamali">@@title</h2>
            }
            <div class="chess__subtext">
                @@if (subtitle !== '') {
                    <h3 class="chess__subtitle anek-tamalittu">@@subtitle</h3>
                }
                @@if (description !== '') {
                    <p class="chess__description geist">@@description</p>
                }
            </div>
        </div>
        @@if (reverse !== 'true' && image !== '') {
            <img
                src="@img/chess/@@image"
                alt="Chess image"
                class="chess__image"
                draggable="false"
            >
        }
    </div>
</div>