<div class="cols">
    <div class="cols__container">
        <div class="cols__col">
            <h2 class="cols__title anek-tamil-bold">Guided by experts</h2>
            <p class="cols__text geist">We believe in creating a positive environment where you can thrive. We're here to help you achieve your goals and unlock your full potential.</p>
        </div>
        <div class="cols__col">
            <h2 class="cols__title anek-tamil-bold">Dynamic open gym</h2>
            <p class="cols__text geist">Our facility is the optimal environment for strength training and performance, fully equipped with top-of-the-line tools, ample training areas, and a focus on functional movement.</p>
        </div>
        <img src="@img/cols/image.jpg" alt="Image" draggable="false" class="cols__image">
    </div>
</div>