<section class="features">
    <div class="features__container">
        <h2 class="features__title anek-tamil-bold">Join the <span>community</span></h2>
        <div class="features__content">
            <div class="features__info">
                <h3 class="features__subtitle anek-tamil-bold">Discover your potential</h3>
                <div class="features__items">
                    <div class="features__item">
                        <h4 class="features__item-title anek-tamil-bold">Expert Coaching</h4>
                        <p class="features__item-text">Trainers who are passionate about your progress and help you stay focused, motivated, and confident every step of the way.</p>
                    </div>
                    <div class="features__item">
                        <h4 class="features__item-title anek-tamil-bold">Results-Driven Programs</h4>
                        <p class="features__item-text geist">Workouts that deliver tangible, measurable results and are built to help you improve strength, endurance, and overall performance.</p>
                    </div>
                    <div class="features__item">
                        <h4 class="features__item-title anek-tamil-bold">A Supportive Tribe</h4>
                        <p class="features__item-text geist">A community that pushes you to be your best, celebrates your wins, and keeps you accountable through every challenge.</p>
                    </div>
                </div>
                <a href="about.html" class="features__link geist-mono">View classes</a>
            </div>
            <img src="@img/features/image.jpg" alt="Features image" class="features__image" draggable="false">
        </div>
    </div>
</section>