<section class="features">
    <div class="features__container">
        <h2 class="features__title">Join the <span>community</span></h2>
        <div class="features__content">
            <div class="features__info">
                <h3 class="features__subtitle">Discover your potential</h3>
                <div class="features__items">
                    <div class="features__item">
                        <h4 class="features__item-title">Expert Coaching</h4>
                        <p class="features__item-text">Trainers who are passionate about your progress.</p>
                    </div>
                    <div class="features__item">
                        <h4 class="features__item-title">Results-Driven Programs</h4>
                        <p class="features__item-text">Workouts that deliver tangible, measurable results.</p>
                    </div>
                    <div class="features__item">
                        <h4 class="features__item-title">A Supportive Tribe</h4>
                        <p class="features__item-text">A community that pushes you to be your best.</p>
                    </div>
                </div>
                <a href="about.html" class="features__link">View classes</a>
            </div>
            <img src="@img/features/image.jpg" alt="Features image" class="features__image" draggable="false">
        </div>
    </div>
</section>